<section class="posts my-5 mx-3 mx-md-0" data-bs-spy="scroll" data-bs-target="#scrollHighlight" data-bs-smooth-scroll="true" tabindex="0">
    {% for post in paginator.posts %}
    
    <div class="post" id="{{ post.id}}">
        <h2 class="card-title">{{ post.title }}</h2>
        <a href="{{ post.url }}">{{ post.date | date: "%-d %B %Y · %l %p" }}</a>
        {{ post.content }}
    </div>
  {% endfor %}
  <!-- Pagination links -->
  <nav aria-label="Page navigation example">
    <ul class="pagination">
        {% if paginator.previous_page %}
      <li class="page-item"><a class="page-link" href="{{ paginator.previous_page_path }}">Newer</a></li>
      {% else %}
      <li class="page-item disabled"><span class="page-link">Newer</span></li>
      {% endif %}
      {% if paginator.next_page %}
      <li class="page-item"><a class="page-link" href="{{ paginator.next_page_path }}">Older</a></li>
      {% else %}
      <li class="page-item disabled"><span class="page-link">Older</span></li>
      {% endif %}
    </ul>
  </nav>
  </section>