<div class="px-4 py-5 my-5 text-center">
    <h1 class="display-5 fw-bold">Rahul Krishna</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">Developing websites for 8+ years and managing 10+ stores. I share tools, tips and tricks about e-commerce, web development and digital growth.</p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <a href="/blogs"><button type="button" class="btn btn-primary btn-lg px-4 gap-3">Blogs</button></a>
      </div>
    </div>
  </div>