<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
            <h2 class="section-header text-center mb-3">Some of my recent works</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="card mb-3">
                    <img src="/assets/images/fabloe.png" alt="">
                    <div class="card-body">
                        <h5 class="card-title">Fabloe</h5>
                        <p class="card-text">Fabloe sells fabrics to businesses as well as individuals, online as well as in-store. With our endless variety of fabrics to choose from, Fabloe is your one-stop destination for all your fabric needs under a single roof as well as site.</p>
                        <a href="https://fabloe.in" class="btn btn-primary">Visit Store</a>
                    </div>
                </div>
                <div class="card mb-3">
                    <img src="/assets/images/chandamama.png" alt="">
                    <div class="card-body">
                        <h5 class="card-title">Chanda Mama Kids</h5>
                        <p class="card-text">Discover our beautiful collection of cloths for your young ones. Made with soft &amp; sustainable cotton for delicate skin. Stitched to fit perfectly and look amazing!</p>
                        <a href="https://chandamamakids.in/" class="btn btn-primary">Visit Store</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
            <div class="card mb-3">
            <img src="/assets/images/maddermuch.png" alt="">
            
            <div class="card-body">
                    <h5 class="card-title">Maddermuch</h5>
                    <p class="card-text">Resort Clothing for Women | Inspired by the ocean and sands of white | Homegrown in India | Born Locally. Raised Artisanally. Creating clothes that inspire the spirit of travel | Empowering nature and communities.</p>
                    <a href="https://maddermuch.com" class="btn btn-primary">Visit Store</a>
                </div>
            </div>
                <div class="card mb-3">
                    <img src="/assets/images/maayu.png" alt="">
                    <div class="card-body">
                        <h5 class="card-title">Maayu</h5>
                        <p class="card-text">Designed for well-being, MAAYU Undergarments are made of 100% Organic Cotton with zero chemical dye, bleach &amp; spandex.</p>
                        <a href="https://maayu.in" class="btn btn-primary">Visit Store</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card mb-3">
                <img src="/assets/images/soulworks.png" alt="">
                
                <div class="card-body">
                        <h5 class="card-title">Soulworks</h5>
                        <p class="card-text">Discover Unique handmade Home Decor products like Temples, Jewellery, Tree of Life, Dream catchers, Boho Decor, Party rentals and more. Worldwide Delivery | COD Available in India</p>
                        <a href="https://soulworks.co" class="btn btn-primary">Visit Store</a>
                    </div>
                </div>
                <div class="card mb-3">
                    <img src="/assets/images/meraki.png" alt="">
                    <div class="card-body">
                        <h5 class="card-title">Meraki Lifestyle</h5>
                        <p class="card-text">Bringing best of affordable designer products from across India to your doorstep.</p>
                        <a href="https://shopmeraki.in/" class="btn btn-primary">Visit Store</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card mb-3">
                <img src="/assets/images/aulerth.png" alt="">

                <div class="card-body">
                        <h5 class="card-title">Aulerth</h5>
                        <p class="card-text">Aulerth is an inspired way of thinking and living that is high on design &amp; intelligently mindful of minimizing its environmental footprint. We value preciousness in design and craftsmanship rather than materials that are destructive to the environment.</p>
                        <a href="https://aulerth.com" class="btn btn-primary">Visit Store</a>
                    </div>
                </div>
                <div class="card mb-3">
                    <img src="/assets/images/goodpacker.png" alt="">
                    <div class="card-body">
                        <h5 class="card-title">Goodpackers</h5>
                        <p class="card-text">GoodPacker provides sustainable packaging products that are easily customisable. All products are eco-friendly and made from recycled, plant-based, or plastic-free materials. Shop now with a minimum order quantity of 50 pieces!</p>
                        <a href="https://thegoodpacker.com/" class="btn btn-primary">Visit Store</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section