<div class="px-4 py-5 my-5 text-center">
    <h1 class="display-5 fw-bold">Rahul Krishna</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">Web developer with a passion for creating beautifully designed and user-friendly websites. Always learning and exploring new technologies and techniques.</p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <button type="button" class="btn btn-primary btn-lg px-4 gap-3">View Portfolio</button>
        <button type="button" class="btn btn-outline-secondary btn-lg px-4">Contact</button>
      </div>
    </div>
  </div>