<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
            <h2 class="section-header text-center mb-3">Some of my works</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="card mb-3">
                <img src="/assets/images/fabloe.png" alt="">
                <div class="card-body">
                    <h5 class="card-title">Fabloe</h5>
                    <p class="card-text">Online Fabric Store India</p>
                    <a href="https://fabloe.in" class="btn btn-primary">Visit Fabloe</a>
                </div>
            </div>
            </div>
            <div class="col-md-3">
            <div class="card mb-3">
            <img src="/assets/images/maddermuch.png" alt="">
            
            <div class="card-body">
                    <h5 class="card-title">Maddermuch</h5>
                    <p class="card-text">Resort Clothing for Women | Inspired by the ocean and sands of white | Homegrown in India | Born Locally. Raised Artisanally. Creating clothes that inspire the spirit of travel | Empowering nature and communities.</p>
                    <a href="https://maddermuch.com" class="btn btn-primary">Visit Maddermuch</a>
                </div>
            </div>
            </div>
            <div class="col-md-3">
            <div class="card mb-3">
            <img src="/assets/images/soulworks.png" alt="">
            
            <div class="card-body">
                    <h5 class="card-title">Soulworks</h5>
                    <p class="card-text">Discover Unique handmade Home Decor products like Temples, Jewellery, Tree of Life, Dream catchers, Boho Decor, Party rentals and more. Worldwide Delivery | COD Available in India</p>
                    <a href="https://soulworks.co" class="btn btn-primary">Visit Soulworks</a>
                </div>
            </div>
            </div>
            <div class="col-md-3">
            <div class="card mb-3">
            <img src="/assets/images/aulerth.png" alt="">

            <div class="card-body">
                    <h5 class="card-title">Aulerth</h5>
                    <p class="card-text">Aulerth is an inspired way of thinking and living that is high on design &amp; intelligently mindful of minimizing its environmental footprint. We value preciousness in design and craftsmanship rather than materials that are destructive to the environment.</p>
                    <a href="https://aulerth.com" class="btn btn-primary">Visit Aulerth</a>
                </div>
            </div>
            </div>
        </div>
    </div>
</section