.card {
    border: solid 1px #eee;
    border-radius: 5px;
    header{
        background: #eee;
        padding: 1em;
        h3{
            margin: 0;
            
            a{
                color: #000;
                text-decoration: none;
            }
        }
        p{
            margin: 0;
        }
    }
    main{
        .cardBody{
            padding: 1em;
            color: #000;
        }
    }
}