.card {
    border: solid 1px #eee;
    border-radius: 5px;
    header{
        background: #eee;
        padding: 1em;
        h2{
            margin: 0;
            
            a{
                color: #000;
                text-decoration: none;
            }
        }
    };
    main{
        padding: 1em
    }
}