.timeline {
    padding: 1em;
    display: flex;
    flex-direction: column;
    row-gap: 1em;
    align-content: center;
    align-items: center;
    a{
        text-decoration: none;
    }
    .card {
        max-width: 500px;
    }
}