$font-stack: Helvetica, sans-serif;
$header-font: 'Oswald', sans-serif;
$body-font: 'Noto Serif', serif;
$primary-color: #333;
$secondary-color: red;

body {
  font: 100% $body-font;
  color: $primary-color;
}

h1, h2, h3, h4, h5, h6{
  font-family: $header-font;
}
