---

---
@import "layout";
@import "typography";
@import "appBar";
@import "timeline";
@import "card";
@import "footer";

body{
    margin:0;
    padding:0;
}
.container {
  padding: 0 1em;
}

.post main {
  margin: 0 auto;
  max-width: 80ch;
}

.post h1{
  text-align: center;
}

.meta{
  background: #ffe6002e;
  padding: 0.25em 1em;
  p{
      margin: 0;
  }
}