---

---
@import "layout";
@import "typography";
@import "appBar";
@import "timeline";
@import "card";
@import "footer";

body{
    margin:0;
    padding:0;
}
.container {
  padding: 0 1em;
}

.post main {
  margin: 0 auto;
  max-width: 80ch;
}

.post h1{
  text-align: center;
}

.meta{
  background: #ffe6002e;
  padding: 0.25em 1em;
  p{
      margin: 0;
  }
}
div#content {
  grid-template-columns: 1fr;
  gap: 1rem;
  grid-template-areas: 
    "content"
    "leftSidebar"
    "rightSidebar";
}

.leftSidebar {
  grid-area: leftSidebar;
}
.content {
  grid-area: content;
}
.rightSidebar {
  grid-area: rightSidebar;
}
@media (min-width: 768px){
  .masthead {
    position: -webkit-sticky;
    position: sticky;
    top: 4rem;
}
div#content {
  grid-template-columns: 1.5fr 3fr 1.5fr;
  gap: 1rem;
  grid-template-areas: 
    "leftSidebar content rightSidebar";
}
}
